<%=form_for shop, :url => shops_rate_shop_path(shop), html: {multipart: true} do |s| %>


<div class= "small-6 columns">
	<%= s.hidden_field :id %>
  <%= s.label :wifi_up %>
  <%= s.text_field :wifi_up %>
</div>

<div class= "small-6 columns">
  <%= s.label :wifi_down %>
  <%= s.text_field :wifi_down %>
</div>

<div class= "small-6 columns">
  <%= s.label :outlet_rating %>
  <%= s.text_field :outlet_rating %>
</div>

<div class= "small-6 columns">
  <%= s.label :noise %>
  <%= s.text_field :noise %>
</div>

<div class= "small-12 large-6 columns">
  <%= s.submit  name = "Rate the Coffeeshop", class: 'button expand' %>
</div>
<% end %>
