<%=form_for @shop, :url => shops_update_rate_path(:id=>@shop.id), html: {multipart: true} do |s| %>


<div class= "small-6 columns">
	<%= s.hidden_field :id %>
  <%= s.label "Current Wifi Up Rating" %>
  <%= @shop.wifi_up %>
</div>

<div class= "small-6 columns">
  <%= s.label "Current Wifi Down Rating" %>
  <%= @shop.wifi_down %>
</div>

<div class= "small-6 columns">
  <%= s.label "Your Wifi Up Rating" %>
  <%= s.text_field :wifi_up, :value=>''  %>
</div>

<div class= "small-6 columns">
  <%= s.label "Your Wifi Down Rating" %>
  <%= s.text_field :wifi_down, :value=>''  %>
</div>

<div class= "small-6 columns">
  <%= s.label  "Current Outlet Rating" %>
  <%= @shop.outlet_rating %>
</div>

<div class= "small-6 columns">
  <%= s.label :noise, "Current Noise Rating" %>
  <%= @shop.noise %>
</div>
<div class= "small-6 columns">
  <%= s.label :outlet_rating, "Your Outlet Rating" %>
  <%= s.text_field :outlet_rating , :value=>''%>
</div>

<div class= "small-6 columns">
  <%= s.label :noise, "Your Noise Rating" %>
  <%= s.text_field :noise, :value=>'' %>
</div>


<div class= "small-6 large-6 columns">
  <%= s.submit  name = "Rate this Coffeeshop!", class: "button expand", style: "position:relative;left:-7em;" %>
</div>
<% end %>
