<div class="row shop">
  <div class="small-6 columns shop-name">
    <h3><%= link_to shop.name, shop %></h3>
  </div>
  <div class="small-6 columns address">
    <h6><%= shop.address %></h6>
  </div>
</div>

<div class="row">
  <div class="small-6 columns ratings">
    <ul class="no-bullet">
      <li>Wifi Up: <%= shop.wifi_up %></li>
      <li>Wifi Down: <%= shop.wifi_down %></li>
      <li>Power: <%= shop.outlet_rating %></li>
      <li>Noise: <%= shop.noise %></li>
    </ul>

  </div>
  <div class="small-6 columns hours">
    <table>
      <tr>
        <td>Weekday Hours</td>
        <td><%= shop.hrs_wkday %></td>
      </tr>
      <tr>
        <td>Saturday Hours</td>
        <td><%= shop.hrs_saturday %></td>
      </tr>
      <tr>
        <td>Sunday Hours</td>
        <td><%= shop.hrs_sunday %></td>
      </tr>
    </table>
  </div>
  <hr />
</div>
