<div class="row shop">
  <div class="small-6 columns shop-name">
    <h3><%= link_to shop.name, shop %></h3>
  </div>
  <div class="small-6 columns address">
    <h6><%= shop.address %></h6>
  </div>
  <div class = 'small-6 columns images'>
    <%= image_tag(shop.shop_image) if shop.shop_image? %>
  </div>
</div>

<div class="row">
  <div class = 'small-6 columns ratings'>
    <ul class = 'no-bullet'>
      <li><b>Number of Ratings To Date: <%= shop.ratings_count %></b></li>
      <li><b>Current Rating: <%= shop.rank %></b></li>
      <li>Wifi Up: <%= shop.wifi_up %> mbps</li>
      <li>Wifi Down: <%= shop.wifi_down %> mbps</li>
      <li>Power: <%= shop.outlet_rating %> of 5</li>
      <li>Noise: <%= shop.noise %> of 5</li>
			<li><%= link_to "Rate this Shop", new_shop_dynamic_rating_path(shop) %></li>
			
    </ul>
	</div>
	<div class="small-6 columns hours">
    <table>
      <tr>
        <td>Weekday Hours</td>
        <td><%= shop.hrs_wkday %></td>
      </tr>
      <tr>
        <td>Saturday Hours</td>
        <td><%= shop.hrs_saturday %></td>
      </tr>
      <tr>
        <td>Sunday Hours</td>
        <td><%= shop.hrs_sunday %></td>
      </tr>
    </table>
  </div>
  <hr />
</div>
