<div class = 'row highlight'>
  <div class='shop'>
    <h1><%= link_to shop.name, shop %></h1>
  </div>
</div>

<div class = 'row'>
  <div class='shop'>

    <h3><%= shop.address %></h3>
    <div class = 'row'>
      <div class = 'small-6 columns'>
        <%= image_tag(shop.shop_image) if shop.shop_image? %>
      </div>
      <div class = 'small-6 columns'>
        <ul class = 'no-bullet'>
          <li>Wifi Upload: <%= shop.wifi_up %> mbps</li>
          <li>Wifi Download: <%= shop.wifi_down %> mbps</li>
          <li>Power outlet rating: <%= shop.outlet_rating %>/5</li>
          <li>Noise rating: <%= shop.noise %>/5</li>
        </ul>
      </div>
    </div>
  </div>
</div>
