<div class="row shop">
  <div class="small-6 columns shop-name">
    <h3><%= link_to shop.name, shop %></h3>
    <ul class="no-bullet">
      <li><%= link_to 'edit shop', edit_shop_path(shop) %> | <%=link_to 'delete shop', shop, method: :delete, data: {confirm: "Wow did they try to sue? Blow it away then!"} %></li>
      <li>Wifi Up: <%= shop.wifi_up %></li>
      <li>Wifi Down: <%= shop.wifi_down %></li>
      <li>Power: <%= shop.outlet_rating %></li>
      <li>Noise: <%= shop.noise %></li>
      <% if user_signed_in? %>
        <li><%= link_to "Rate this Shop" ,new_shop_dynamic_rating_path(shop) %></li>
      <% end %>
    </ul>
  </div>
  <div class="small-6 columns centered">
    <h6 class="address"><%= shop.address %></h6>
    <h6><%= link_to 'Website', /^http/.match(shop.site) ? shop.site : "http://#{shop.site}" %></h6>
    <h6><%= shop.phone %></h6>
    <table>
      <tr>
        <td>Weekday Hours</td>
        <td><%= shop.hrs_wkday %></td>
      </tr>
      <tr>
        <td>Saturday Hours</td>
        <td><%= shop.hrs_saturday %></td>
      </tr>
      <tr>
        <td>Sunday Hours</td>
        <td><%= shop.hrs_sunday %></td>
      </tr>
    </table>
  </div>
	<%=render 'comments/comments', comments: shop.comments %>
</div>

<div class="row shop">
  <div class="small-12 columns">
    <ul class="no-bullet">
      <h6>Comments</h6>
      <li><%= render 'comments/comments', comments: shop.comments %></li>
      <li> <%= link_to 'Add a Comment', new_shop_comment_path(shop.id) %></li>
    </ul>
  </div>
</div>
