

<%=form_for @dynamic_rating, :url => shop_dynamic_ratings_path(@shop) do |s| %>


<div class= "small-6 columns">
  <h3 class= "noise">Wifi Upload Speed (Mbps)</h3>
  <%= s.label :wifi_up %>
  <%= s.text_field :wifi_up %>
</div>

<div class= "small-6 columns">
  <h3 class= "noise">Wifi Download Speed (Mbps)</h3>
  <%= s.label :wifi_down %>
  <%= s.text_field :wifi_down %>
</div>

<div class= "small-6 columns">
<h3 class= "noise">Noise Rating Legend:</h3>
<ul class= "noise">
  <li class= "noise">1- Extremely noise can't focus</li>
  <li class= "noise">2- With really good noise canceling head phones.. Maybe</li>
  <li class= "noise">3- Ok with earbuds</li>
  <li class= "noise">4- Decent without earbuds</li>
  <li class= "noise">5- Almost like a library maybe to quiet</li>
</ul>

  <%= s.label :noise %>
  <%= s.text_field :noise %>
</div>

<div class= "small-12 large-6 columns">
  <%= s.submit  name = "Enter your rating!", class: 'button expand' %>
</div>
<% end %>
