<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= link_to shops_index_path, alt: 'Home' do %>
          <span>< ></span>
          <i class="fa fa-coffee fa-2x"></i>
          <span><%= content_for?(:title) ? yield(:title) : "Codaccino" %></span>
        <% end %>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#"><span>Menu</span></a>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->  
    <% if user_signed_in? %>
      <ul class="right">
        <li>
          <%= link_to "Logout", destroy_user_session_path, 
            method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      </ul>
      <ul class="right">
        <li>
          <%= link_to "Edit My Profile", edit_user_registration_path %>
        </li>
      </ul> 
      <ul class="right">
        <li>
          <%= link_to "Add a Shop", new_shop_path %> 
        </li>
      </ul>
    <% else %>
      <ul class="right">
        <li>
          <%= link_to "Log In", new_user_session_path %>
        </li>
      </ul>
      <ul class="right">
        <li>
          <%= link_to "Sign up", new_user_registration_path %> 
        </li>
      </ul>
    <% end %>
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="has-dropdown">
        <a href="#">Sort Shops</a>
        <ul class="dropdown">
          <li><%= link_to "Upload Speed", shops_wifi_up_path %></li>
          <li><%= link_to "Download Speed", shops_wifi_down_path %></li>
          <li><%= link_to "Power Outlets", shops_power_path %></li>
          <li><%= link_to "Noise", shops_noise_path %></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
