<header>

  <div class = 'logo'>
    <%= link_to shops_index_path, alt: 'Home' do %>
      <span>< ></span><i class="fa fa-coffee fa-2x"></i>
    <% end %>
  </div>
  <div class = 'menu'>
    <%= link_to shops_index_path, alt: 'Menu', id: 'menu' do %>
      <i class="fa fa-bars fa-2x"></i>
    <% end %>
  </div>
  <div id = 'sort-menu' class = 'on-screen'>
    <ul class = 'no-bullet'>
      <li>
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to "Edit My Profile", edit_user_registration_path %> 
        <% else %>
          <%= link_to "Log In", new_user_session_path %> or <%= link_to "Sign up", new_user_registration_path %> 
        <% end %>
      </li>
      <li>
        <% if user_signed_in? %>
          <%= link_to 'Add a New Shop', new_shop_path %>
        <% end %>
      </li>
      <li>
        Sort by:
        <form>
          <select id="sort_by_picker">
              <option value="upload">Wifi Up</option>
              <option value="download">Wifi Down</option>
              <option value="power">Power Outlet</option>
              <option value="noise">Noise</option>
          </select>
        </form>
      </li>
    </ul>
  </div>
  <script>
  $( document ).ready(function() {
    // set sort_by_picker
    if ( window.location.toString().indexOf("<%= shops_wifi_down_path %>") > 0) {
      $( '#sort_by_picker' ).val("download");
    }
    if ( window.location.toString().indexOf("<%= shops_power_path %>") > 0) {
      $( '#sort_by_picker' ).val("power");
    }
    if ( window.location.toString().indexOf("<%= shops_noise_path %>") > 0) {
      $( '#sort_by_picker' ).val("noise");
    }
    // change event handler for sort_by_picker
    $( '#sort_by_picker' ).change(function() {
      var sort_value = $(this).val();
      if (sort_value === "upload") {
        window.location = "<%= shops_wifi_up_path %>";
      }
      if (sort_value === "download") {
        window.location = "<%= shops_wifi_down_path %>";
      }
      if (sort_value === "power") {
        window.location = "<%= shops_power_path %>";
      }
      if (sort_value === "noise") {
        window.location = "<%= shops_noise_path %>";
      }
    });
  });
  </script>
</header>
